sensor_flows.json
[{"id":"e8abf6ca.f8ad08","type":"serial in","z":"26dafd4a.2782aa","name":"","serial":"49b4babc.261e24","x":190,"y":1760,"wires":[["553f23d3.41633c"]]},{"id":"553f23d3.41633c","type":"function","z":"26dafd4a.2782aa","name":"","func":"msg.headers={};\nmsg.headers['Content-Type'] ='application/xml;ty=4';\nmsg.payload=\n'<m2m:cin xmlns:m2m=\"http://www.onem2m.org/xml/protocols\"> '+\n'<cnf>application/xml</cnf> '+\n'<con> &lt;obj&gt; &lt;str name=&quot;user&quot; '+\n'val=&quot;user_01&quot;/&gt; &lt;str name=&quot;led&quot; '+\n'val=&quot;'+ msg.payload +'&quot;/&gt; &lt;/obj&gt; </con> '+\n'</m2m:cin> ';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1760,"wires":[["57bb63d5.0814bc"]]},{"id":"57bb63d5.0814bc","type":"http request","z":"26dafd4a.2782aa","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.217.132:8080/~/mn-cse/mn-name/MY_SENSOR/DATA","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":1760,"wires":[["224a93ce.d7202c"]]},{"id":"25c2404f.663ff","type":"serial out","z":"26dafd4a.2782aa","name":"","serial":"49b4babc.261e24","x":1170,"y":1920,"wires":[]},{"id":"4290d062.9104c","type":"change","z":"26dafd4a.2782aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2040,"wires":[["bfbff98.2d91208","25c2404f.663ff"]]},{"id":"1617cf87.c12d6","type":"DataExtractor","z":"26dafd4a.2782aa","name":"","viewtype":"xpath","viewunid1":"http://192.168.217.128:8080/~/mn-cse/mn-name/MY_SENSOR/DATA","viewunid2":"$.str[1].val","x":400,"y":1860,"wires":[["c292af54.b0db"]]},{"id":"b3249066.0c6d6","type":"inject","z":"26dafd4a.2782aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1880,"wires":[["ff5420b4.cf07a"]]},{"id":"ff5420b4.cf07a","type":"LabeledSensor","z":"26dafd4a.2782aa","platform":"83798ba3.1b82f8","name":"","width":0,"options":[{"label":"user","value":"name"},{"label":"led","value":"color"}],"cntInstance":"/DATA/la","x":320,"y":1960,"wires":[["1617cf87.c12d6"]]},{"id":"7dd4c263.cad49c","type":"switch","z":"26dafd4a.2782aa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Red","vt":"str"},{"t":"cont","v":"Green","vt":"str"},{"t":"cont","v":"Blue","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":2000,"wires":[["df02e0bb.25838","7621ea2f.3d9474"],["3e96d939.42be96","16465cb6.6d55a3"],["4290d062.9104c","3aa65ec4.986312"]]},{"id":"df02e0bb.25838","type":"change","z":"26dafd4a.2782aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1960,"wires":[["bfbff98.2d91208","25c2404f.663ff"]]},{"id":"3e96d939.42be96","type":"change","z":"26dafd4a.2782aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2000,"wires":[["bfbff98.2d91208","25c2404f.663ff"]]},{"id":"c292af54.b0db","type":"function","z":"26dafd4a.2782aa","name":"","func":"msg.payload=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1880,"wires":[["7dd4c263.cad49c"]]},{"id":"bfbff98.2d91208","type":"debug","z":"26dafd4a.2782aa","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":2060,"wires":[]},{"id":"d5a98c40.d402c","type":"http in","z":"26dafd4a.2782aa","d":true,"name":"","url":"/notify","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1960,"wires":[["ff5420b4.cf07a"]]},{"id":"224a93ce.d7202c","type":"debug","z":"26dafd4a.2782aa","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1760,"wires":[]},{"id":"2ccf2cc3.a6eeb4","type":"ContentInstance","z":"26dafd4a.2782aa","name":"","platform":"83798ba3.1b82f8","name1":"d36026f7.9965f8","container":"DATA","width":0,"options":[{"type":"str","label":"user","value":"a"},{"type":"str","label":"led","value":"Green"}],"x":400,"y":2200,"wires":[["78ceaf4b.bd3c3"]]},{"id":"f19ae86a.b57788","type":"inject","z":"26dafd4a.2782aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2200,"wires":[["2ccf2cc3.a6eeb4"]]},{"id":"78ceaf4b.bd3c3","type":"debug","z":"26dafd4a.2782aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":2200,"wires":[]},{"id":"9a4da78e.6864b8","type":"ContentInstance","z":"26dafd4a.2782aa","name":"","platform":"83798ba3.1b82f8","name1":"d36026f7.9965f8","container":"DATA","width":0,"options":[{"type":"str","label":"user","value":"a"},{"type":"str","label":"led","value":"Red"}],"x":400,"y":2160,"wires":[["167575c1.dc806a"]]},{"id":"6c41d3a7.b0678c","type":"inject","z":"26dafd4a.2782aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2160,"wires":[["9a4da78e.6864b8"]]},{"id":"167575c1.dc806a","type":"debug","z":"26dafd4a.2782aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":2160,"wires":[]},{"id":"9bd7c066.1e714","type":"ContentInstance","z":"26dafd4a.2782aa","name":"","platform":"83798ba3.1b82f8","name1":"d36026f7.9965f8","container":"DATA","width":0,"options":[{"type":"str","label":"user","value":"a"},{"type":"str","label":"led","value":"Blue"}],"x":400,"y":2240,"wires":[["f52df206.b349b"]]},{"id":"6dae7292.9f1b9c","type":"inject","z":"26dafd4a.2782aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2240,"wires":[["9bd7c066.1e714"]]},{"id":"f52df206.b349b","type":"debug","z":"26dafd4a.2782aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":2240,"wires":[]},{"id":"3aa65ec4.986312","type":"change","z":"26dafd4a.2782aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"user_b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2300,"wires":[["cbf4f357.5af7"]]},{"id":"7621ea2f.3d9474","type":"change","z":"26dafd4a.2782aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"user_r","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2220,"wires":[["cbf4f357.5af7"]]},{"id":"16465cb6.6d55a3","type":"change","z":"26dafd4a.2782aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"user_g","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2260,"wires":[["cbf4f357.5af7"]]},{"id":"cbf4f357.5af7","type":"debug","z":"26dafd4a.2782aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":2260,"wires":[]},{"id":"49b4babc.261e24","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"83798ba3.1b82f8","type":"xN_CSE","platform":"mn-cse","URLBase":"http://192.168.57.128:8080/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"d36026f7.9965f8","type":"AE","appId":"MY_SENSOR"}]