web_flows.json
[{"id":"b02b7381.95e91","type":"inject","z":"db86617d.351de8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1420,"y":4140,"wires":[["8737cd33.552d3"]]},{"id":"8737cd33.552d3","type":"ui_template","z":"db86617d.351de8","group":"4d4d63c6.aa597c","name":"","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Bootstrap Example</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>\n  <!--sweetalert-->\n  <script src=\"https://unpkg.com/sweetalert/dist/sweetalert.min.js\"></script>\n  <style>\n   #button_horizontal_A{\n    \twidth: 80px;\n        height: 60px;\n  \t\talign-items:center;\n        margin: auto;\n    }\n  \t#button_vertical_B{\n    \twidth: 60px;\n        height: 80px;\n  \t\talign-items:center;\n        margin: auto;\n        <!-->font-size:68px;</!-->\n    }\n    #button_vertical_C{\n    \twidth: 60px;\n        height: 80px;\n  \t\talign-items:center;\n        margin: auto;\n        <!-->font-size:68px;</!-->\n    }\n\n  </style>\n  <script>\n        function Btn_Clk(SEAT,SEAT_NAME){\n            swal({\n               title: \"get a reservation of seat \" + SEAT + \" ?\",\n               text: \"Once reservation, you will not be able to reservation another seat for ten minute!\",\n               buttons: true,\n               dangerMode: false,\n            })\n            .then((reservation) => {\n               if (reservation) {\n                  swal(\"reservation success!\", {\n                  icon: \"success\",\n                  });\n                  //document.getElementById(\"demo\").innerHTML = this.responseText;\n                  document.getElementById(SEAT_NAME).setAttribute(\"class\",\"btn btn-default\"); //change button color\n                  document.getElementById(SEAT_NAME).disabled = true; //disabled button \n               }\n            });\n        }\n\n        function refresh(){\n           var name;\n           var val;\n           name = document.getElementById(\"demo1\").innerHTML;\n           val = document.getElementById(\"demo2\").innerHTML;\n           if(name == \"user\"){\n               document.getElementById('button_horizontal_A').setAttribute(\"class\",\"btn btn-default\"); //change button color\n               document.getElementById('button_horizontal_A').disabled = true; //disabled button \n           }\n           if(name == \"SEAT_B\" && val == \"off\"){\n               document.getElementById('button_vertical_B').setAttribute(\"class\",\"btn btn-default\"); //change button color\n               document.getElementById('button_vertical_B').disabled = true; //disabled button \n           }\n           if(name == \"SEAT_C\" && val == \"off\"){\n               document.getElementById('button_vertical_C').setAttribute(\"class\",\"btn btn-default\"); //change button color\n               document.getElementById('button_vertical_C').disabled = true; //disabled button \n           }\n        }\n\n   </script>\n</head>\n<body>\n\n  <center><h2>Current Set State</h2>\n  <span class=\"label label-default\">Default Label <span class=\"badge\">7</span></span>\n  <span class=\"label label-success\">Success Label</span>\n  <span class=\"label label-warning\">Warning Label</span>\n  <span class=\"label label-danger\">Danger Label</span></center>\n  <br>\n  \n  <center><button type=\"button\" name=\"A\" class=\"btn btn-success\" id=\"button_horizontal_A\" onclick=\"Btn_Clk('A','button_horizontal_A')\" ng-click=\"send({topic:'clicked', payload:'A'})\">A</button></center>\n  <center>\n  <button type=\"button\" name=\"B\" class=\"btn btn-success\" id=\"button_vertical_B\" onclick=\"Btn_Clk('B','button_vertical_B')\" ng-click=\"send({topic:'clicked', payload:'B'})\">B</button>\n  <button type=\"button\" name=\"C\" class=\"btn btn-success\" id=\"button_vertical_C\" onclick=\"Btn_Clk('C','button_vertical_C')\" ng-click=\"send({topic:'clicked', payload:'C'})\">C</button>\n  </center>\n  <p id=\"demo\" name=\"ttt\"></p>\n  <button type=\"button\" onclick=\"refresh()\" >refresh</button>\n  <p id=\"demo1\">{{msg.payload.name}}</p>\n  <p id=\"demo2\">{{msg.payload.val}}</p>\n  \n  <!--md-button class=\"button save\" ng-click=\"send({topic:'clicked', payload:'button was clicked'})\">SAVE</md-button>\n  <button type=\"button\" class=\"button save\" ng-click=\"send({topic:'click', payload:'button was clicked'})\">push</button-->\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1620,"y":4140,"wires":[["8b33e378.d358e","48ab77ec.1d3548"]]},{"id":"8b33e378.d358e","type":"debug","z":"db86617d.351de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":4140,"wires":[]},{"id":"362a3a75.25f9f6","type":"comment","z":"db86617d.351de8","name":"SeatReservation","info":"","x":1420,"y":4080,"wires":[]},{"id":"48ab77ec.1d3548","type":"switch","z":"db86617d.351de8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1800,"y":4260,"wires":[["6f2a8a90.63e8b4"],["efb9cd22.81c6"],["6b3677f3.302e08"]]},{"id":"efb9cd22.81c6","type":"ContentInstance","z":"db86617d.351de8","name":"","platform":"3f569247.a971fe","name1":"3aef5a76.56a5b6","container":"DATA","width":0,"options":[{"type":"str","label":"SEAT_B","value":"off"},{"type":"str","label":"SEAT_B","value":"d"}],"x":2010,"y":4280,"wires":[["7dc241b6.238f5"]]},{"id":"7dc241b6.238f5","type":"debug","z":"db86617d.351de8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2240,"y":4280,"wires":[]},{"id":"6b3677f3.302e08","type":"ContentInstance","z":"db86617d.351de8","name":"","platform":"3f569247.a971fe","name1":"3aef5a76.56a5b6","container":"DATA","width":0,"options":[{"type":"str","label":"SEAT_C","value":"off"},{"type":"str","label":"SEAT_C","value":"g"}],"x":2010,"y":4340,"wires":[["43f560aa.bec5b"]]},{"id":"43f560aa.bec5b","type":"debug","z":"db86617d.351de8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2240,"y":4340,"wires":[]},{"id":"6f2a8a90.63e8b4","type":"ContentInstance","z":"db86617d.351de8","name":"","platform":"3f569247.a971fe","name1":"3aef5a76.56a5b6","container":"DATA","width":0,"options":[{"type":"str","label":"SEAT_A","value":"off"},{"type":"str","label":"SEAT_A","value":"a"}],"x":2010,"y":4220,"wires":[["859aed53.04871"]]},{"id":"859aed53.04871","type":"debug","z":"db86617d.351de8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2240,"y":4220,"wires":[]},{"id":"b9f47ea6.cee38","type":"inject","z":"db86617d.351de8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":1410,"y":4480,"wires":[["96c46851.295738"]]},{"id":"7504477.7642eb8","type":"debug","z":"db86617d.351de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1840,"y":4480,"wires":[]},{"id":"96c46851.295738","type":"NamedSensor","z":"db86617d.351de8","name":"","platform":"3f569247.a971fe","sensor":"3aef5a76.56a5b6","container":"DATA","cntInstance":"/la","x":1620,"y":4480,"wires":[["7504477.7642eb8","86ae70c8.69bd5"]]},{"id":"73925fc4.98e3b","type":"debug","z":"db86617d.351de8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2210,"y":4620,"wires":[]},{"id":"86ae70c8.69bd5","type":"function","z":"db86617d.351de8","name":"","func":"p = JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"m2m:cin\"].con;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":4540,"wires":[["dc327a52.402d58","70493d7f.0944f4"]]},{"id":"dc327a52.402d58","type":"xml","z":"db86617d.351de8","name":"","property":"payload","attr":"","chr":"","x":1940,"y":4620,"wires":[["73925fc4.98e3b","92e24991.69faa8"]]},{"id":"92e24991.69faa8","type":"function","z":"db86617d.351de8","name":"","func":"msg.payload.name = msg.payload.obj.str[0].$.name;\nmsg.payload.val = msg.payload.obj.str[0].$.val;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":4680,"wires":[["8737cd33.552d3","938b7fbb.234ae"]]},{"id":"938b7fbb.234ae","type":"debug","z":"db86617d.351de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2210,"y":4680,"wires":[]},{"id":"45df328a.26292c","type":"inject","z":"db86617d.351de8","name":"initial","props":[{"p":"payload.name","v":"empty","vt":"str"},{"p":"payload.val","v":"empty","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1410,"y":4200,"wires":[["8737cd33.552d3"]]},{"id":"6e82ad72.3e9444","type":"comment","z":"db86617d.351de8","name":"SubscriptionNotify","info":"","x":1410,"y":4420,"wires":[]},{"id":"cb2103c1.2df21","type":"debug","z":"db86617d.351de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1660,"y":4620,"wires":[]},{"id":"86f78a47.21f498","type":"http in","z":"db86617d.351de8","d":true,"name":"","url":"/notify","method":"post","upload":false,"swaggerDoc":"","x":1410,"y":4620,"wires":[["cb2103c1.2df21","96c46851.295738"]]},{"id":"70493d7f.0944f4","type":"debug","z":"db86617d.351de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2170,"y":4540,"wires":[]},{"id":"4d4d63c6.aa597c","type":"ui_group","name":"Default","tab":"777f0d62.8edab4","order":1,"disp":true,"width":30,"collapse":false},{"id":"3f569247.a971fe","type":"xN_CSE","platform":"mn-cse","URLBase":"http://10.111.2.61:8080/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"3aef5a76.56a5b6","type":"AE","appId":"MY_SENSOR"},{"id":"777f0d62.8edab4","type":"ui_tab","name":"test1","icon":"dashboard","disabled":false,"hidden":false}]